{% extends 'core/base.html' %}
{% block content %}
<div class="corner-background">
    <a href="{% url 'lab' %}"><img id="shelf-pointer" class="get-point" src="/static/화살표.png" alt="화살표"></a>

    {% if not socks %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='post' value="trashcan">
        <input type="image" id="trashcan" class="get-point btn"  src="/static/trashcan3.png" alt='쓰레기통'>
    </form>
    <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>                         
          <p><img src="/static/구겨진 종이.jpg" alt="사진" width="20" height="20">구겨진 종이</p>
        </div>
    </div>
    {% endif %}

    {% if socks %}
    <img id="trashcan" src="/static/trashcan3.png" alt='쓰레기통'>
    {% endif %}

    {% if not key2 %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='post' value="hanger">
        <input type="image" id="hanger" class="get-point btn" src="/static/hanger.png" alt='옷걸이'>
    </form>
    <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>                         
          <p><img src="/static/key2.jpg" alt="사진" width="20" height="20">열쇠2</p>
        </div>
    </div>
    {% endif %}

    {% if key2 %}
    <img id="hanger" src="/static/hanger.png" alt='옷걸이'>
    {% endif %}
</div>
{% endblock %}

