{% extends 'core/base.html' %}
{% block content %}
<div class="diary-background">
  
    
    <a href="{% url 'bookshelf' %}"><img id="shelf-pointer" class="get-point" src="/static/화살표.png" alt="화살표"></a>
    <input type="image" src="" alt="dho">이건뭔가용???
    <br><br><br>
    
    <img class="stickman" src="/static/stickman.png" width="150">
    <br><br><br><br><br><br><br><br><br><br>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    아아...임진왜란은 몇 년도에 일어난 사건이더라...</h5>
    
    <!-- 첫 번째 Modal -->
    <div class="modal">
 
      <!-- 첫 번째 Modal의 내용 -->
      <div class="modal-content">
        <span class="close">&times;</span>                         
        <p>첫 번째 Modal</p>
      </div>
    </div>
</div>

{% endblock %}