{% extends 'core/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일기장 </title>
    <style>
        div.background {
            background-image: url("/static/일기내용.jpg");
        }
    </style>
</head>
<body>
    아아...임진왜란은 몇 년도에 일어난 사건이더라...
    <a href="{% url 'bookshelf' %}">뒤로가기</a>
    <input type="image" src="" alt="dho">왲??
     
    <!-- 첫 번째 Modal -->
    <div class="modal">
 
      <!-- 첫 번째 Modal의 내용 -->
      <div class="modal-content">
        <span class="close">&times;</span>                         
        <p>첫 번째 Modal</p>
      </div>
    </div>


</body>
</html>
{% endblock %}