{% extends 'core/base.html' %}
{% block content %}


<div class="door-background">
    <a href="{% url 'lab' %}"><img id="go_lab" class="get-point" src="/static/화살표.png" alt="화살표"></a>
    {% if not key %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='Key' value="key">
        <input class="get-point flowerpot" type="image" class="btn" src="/static/화분.png" alt="화분" width="50" height="70">
        <div class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>                         
              <p><img src="/static/key.jpg" alt="사진" width="20" height="20">열쇠획득</p>
            </div>
        </div>
    </form>
    {% endif %}
    {% if key %}
    <form method="POST">{% csrf_token %}
        <img class="get-point flowerpot" src="/static/화분.png" alt="화분" width="50" height="70">
    </form>
    {% endif %}

    {% if not del_assistance %}
    <input id="not_human" type="image" class="get-point btn" src="/static/조교.png" alt="조교사진" >
    <div class="modal" width:600px;s>
        <div class="modal-content" >
          <span class="close">&times;</span>                         
          <p>으어어어...</p>
        </div>
    </div>
    {% endif %}
    
    {% if del_assistance %}
    {% if not open_hydrant %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='Key' value="notkey">
        <input type='hidden' name='Hydrant' value="hydrant">
        <input type="image" id="fusebox" class="get-point" src="/static/fuseboxclosed.png" alt="닫힌소화전" width="200">
    </form>
    {% endif %}

    {% if open_hydrant %}
    <img src="/static/fuseboxclosed.png" id="fusebox" alt="열린소화전" width="200">
    <a href="{% url 'ending' %}"><img src="/static/papersheets.png" id="papersheets" alt="시험지" width="100"></a>
    {% endif %}
    {% endif %}
    </div>

{% endblock %}