{% extends 'core/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문 앞</title>
    <style>
        div.background {
            background-image: url("/static/복도.jpg");
        }
    </style>
</head>
<body>
    <a href="{% url 'lab' %}">연구실</a>
    {% if not key %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='Key' value="key">
        <input type="image" class="btn" src="/static/화분.png" alt="화분" width="100" height="130">
        <div class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>                         
              <p><img src="/static/key.jpg" alt="사진" width="20" height="20">열쇠획득</p>
            </div>
        </div>
    </form>
    {% endif %}
    {% if key %}
    <form method="POST">{% csrf_token %}
        <img src="/static/화분.png" alt="화분" width="50" height="70">
    </form>
    {% endif %}

    {% if not del_assistance %}
    <input type="image" class="btn" src="/static/조교.png" alt="조교사진" width="200" height="400">
    <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>                         
          <p>으어어어...</p>
        </div>
    </div>
    {% endif %}
    
    {% if del_assistance %}
    {% if not open_hydrant %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='Key' value="notkey">
        <input type='hidden' name='Hydrant' value="hydrant">
        <input type="image" src="/static/소화전.jpg" alt="닫힌소화전" width="300" height="400">
    </form>
    {% endif %}

    {% if open_hydrant %}
    <img src="/static/열린소화전.jpg" alt="열린소화전" width="300" height="400">
    <a href="{% url 'ending' %}"><img src="/static/시험지.jpg" alt="시험지" width="50" height="70"></a>
    {% endif %}
    {% endif %}
</body>
</html>
{% endblock %}