{% extends 'core/base.html' %}
{% block content %}
<div class="drawer-background">
    {% if not key %}
    <form method="POST">{% csrf_token %}
        <input type='hidden' name='array_info' value="Array_info">
        <input type="image" id="paperball" class='get-point btn' src="/static/paperball.png" alt='배열정보사진'>
    </form>
    <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>                         
          <p><img src="/static/구겨진 종이.jpg" alt="사진" width="20" height="20">구겨진 종이</p>
        </div>
    </div>
    {% endif %}
    <a href="{% url 'desk' %}"><img id="shelf-pointer" class="get-point" src="/static/화살표.png" alt="화살표"></a>
</div>
{% endblock %}