{% extends 'core/base.html' %}
{% block content %}
  
<div class="lab-background">
    <a href="{% url 'desk' %}"><img class="get-point mag" id="see_desk" src="/static/돋보기.png" alt="돋보기"></a>
    <div></div>

    <a href="{% url 'bookshelf' %}"><img class="get-point mag" id="see_bookshelf" src="/static/돋보기.png" alt="돋보기"></a>
    <a href="{% url 'corner' %}"><img class="get-point mag" id="see_corner" src="/static/돋보기.png" alt="돋보기"></a>
    <a id="go_link" href="{% url 'door' %}"><img id="go_out" class="get-point" src="/static/화살표.png" alt="화살표"></a>

    </div>

{% endblock %}