{% extends 'core/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연구실 안</title>
</head>
<body>
    <a href="{% url 'desk' %}"><img src="/static/연구실.jpg" alt="책상"></a>
    <div></div>
    <a href="{% url 'door' %}">연구실 나가기</a>

    {% for i in items %}
    <div>
        <p><img src="{{ i.photo.url }}" alt="사진" width="20" height="20">{{ i.name }} : {{ i.bio }} </p>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}