{% extends 'core/base.html' %}
{% block content %}
<div class="monitor-background">
    

    <form method="post" id="password">
        {% csrf_token %}
        <h5>잠금을 해제하려면 비밀번호를 입력하세요</h5><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size=8 name=password>&nbsp;&nbsp;&nbsp;<button type="submit">입력</button>
    </form>
    <a href="{% url 'desk' %}"><img id="shelf-pointer" class="get-point" src="/static/화살표.png" alt="화살표"></a>

</div>
{% endblock %}